table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 20px auto;
}
th, td {
      width: 80%;
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
      text-wrap: initial;
}


th {
      background-color: #f5f5f5;
}

.table-button {
    padding: 5px 10px;
    border: none;
    font: normal 600 0.7em var(--pagefont);
    background-color: var(--darkblue);
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}

#btnVisualizar, #btnExcluir {
    text-align: center;
}

